nav {
    padding: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

nav ol {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
}

nav a:first-child {
    font-size: 32px;
    color: black;
}

nav a:last-child {
    color: white;
    background-color: #a970ff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #a970ff;
}

nav a:last-child:hover {
    color: #a970ff;
    background-color: white;
}