footer {
    box-shadow: 0.125rem .125rem .25rem .25rem rgba(0,0,0,.075);
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

footer div {
    text-align: center;
    margin: 20px;
}

footer a, footer h3, footer p{
    color: #a970ff;
    margin: 0;
}

hr {
    color: white;
    margin: 20px;
}

footer p {
    font-weight: 200;
    font-size: 14px;
}

footer a {
    margin: 0 10px;
}

footer a svg{
    font-size: 35px;
}